/AutomaticUpdates/obj
/AutomaticUpdates/bin
/Be.Windows.Forms.HexBox/obj
/Be.Windows.Forms.HexBox/bin
/Common/obj
/Common/bin
/CreateTestDatabases/obj
/CreateTestDatabases/bin
/DiffControl/obj
/DiffControl/bin
/FastGrid/obj
/FastGrid/bin
/Liron.Windows.Forms/obj
/Liron.Windows.Forms/bin
/SQLiteParser/obj
/SQLiteParser/bin
/SQLiteTurbo/obj
/SQLiteTurbo/bin
/UndoRedo/obj
/UndoRedo/bin
/CreateTestDatabases/app.config
/UpgradeLog.htm
